.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "nav nav nav nav";
}


.notice-main {
    grid-area: main;
    padding: 20px;
}
.notice-box {
    margin-bottom: 100px;
}
.notice__title {
    font-size: 15px;
    font-weight: 600;
}
.notice__subtitle {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: 600;
    margin-left: 30px;
}

.notice-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;    
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color);
}


.notice__date {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    padding-right: 30px;
}

.notice__num {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    padding-left: 30px;
}

